apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-go-basic-m2s8
  namespace: e2e-demos-hsfe-tenant
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/psturc/test-images-protected@sha256:2295a0127ce8e917e17d44ce3637feff543543f1b64ca6af6cd692d3953c6d7b
        name: my-go
        resources: {}
status: {}
